{{%handler:ProductsInCategoryJSONHandler}}{"products":[{{#whole list}}{"id": {{id}},"name":"{{name}}","price":"{{price}}","description":"{{description}}","image_name":"{{image_name}}"}{{^last}},{{/last}}{{/whole list}}]}